.flash__sales {
    .flash__sales__title {
        @include flex(row, start, end);
        gap: 60px;

        @include tablet {
            @include flex(row, start, end);
            flex-wrap: wrap;
            gap: 30px;
        }

        @include mobile {
            @include flex(row, start, flex-end);
        }

        .flash__timer {
            .timer {
                @include flex(row, center, center);
                gap: 20px;

                @include mobile {
                    @include flex(row, center, center);
                    gap: 10px;

                    .title {
                        display: none;
                    }
                }

                .day,
                .hour,
                .minute,
                .second {
                    position: relative;

                    :nth-child(2) {
                        color: map-get($colors, second);
                        @include font(30px, 600);

                        &::after {
                            position: absolute;
                            content: ":";
                            left: 100%;
                            top: 50%;

                            @include mobile {
                                top: 0;
                                margin: 0 5px;
                            }
                        }
                    }
                }

                .second :nth-child(2)::after {
                    display: none;
                }

                &>div {
                    @include flex(column, center, center);
                    gap: 20px;

                    @include mobile {
                        margin: 0 5px;
                    }

                    .title {
                        text-transform: capitalize;
                        text-align: center;
                        @include font(18px, 700);
                    }
                }
            }
        }
    }

    .swiper {
        margin: 50px  0 0 0;
        width: 100%;
        height: 500px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #fff;
    }

    .swiper-slide {

        background-position: center;
        background-size: cover;
        padding: 20px;
        width: 300px;
        height: 350px;

        &:hover {
            cursor: e-resize;
        }

        .swiper__content {
            padding: 30px 15px 20px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 8px;
            position: relative;
            @include flex(column, center, center);

            .discount {
                @include flex(row, center, center);
                gap: 1px;
                background-color: map-get($colors, second);
                padding: 6px;
                position: absolute;
                @include font(15px, 500);
                top: 0px;
                left: 0px;
                cursor: pointer;
                border-top-left-radius: 5px;
                border-top-right-radius: 60px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 60px;
                color: #fff
            }
            .heart{
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 10px;
                font-size: 25px
            }

            figure {
                @include flex(column, center, center);


                img {
                    width: 200px;
                    margin: 0 0 15px 0;
                }

                figcaption {
                    margin: 0 0 10px 0;
                    max-width: 60%;
                    @include font(15px, 600);
                    text-align: center;

                    @include mobile {
                        max-width: 90%;
                    }
                }

                .prices {
                    @include flex(row, space-around, center);
                    gap: 20px;
                    @include font (18px, 550);
                    margin: 0 0 15px 0;

                    .first-price {
                        color: #696969;
                        text-decoration: line-through;
                    }

                    .disc-price {
                        color: map-get($colors , second);
                    }
                }

            }

            button {
                width: 100%;
            }

        }
    }
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background: none !important;
}