$colors: (
  first: #000,
  second: #db4444,
  third: #F5F5F5,
  fourth: #ffd000,
);


@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($size, $weight:500, $letterSpacing:normal) {
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letterSpacing;
}
