$icon-size: 35px;
$icon-secondary-color: rgb(77, 77, 77);
$icon-hover-color: rgb(97, 97, 97);
$icon-primary-color: rgb(252, 54, 54);
$icon-circle-border: 1px solid $icon-primary-color;
$icon-circle-size: 55px;
$icon-anmt-duration: 0.4s;


.ui-bookmark {
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
  }

  .bookmark {
    width: $icon-size;
    height: auto;
    fill: $icon-secondary-color;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-origin: top;

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transform: scale(0);
      padding: 1px;
      box-shadow: 0 30px 0 -4px $icon-primary-color,
        30px 0 0 -4px $icon-primary-color,
        0 -30px 0 -4px $icon-primary-color,
        -30px 0 0 -4px $icon-primary-color,
        -22px 22px 0 -4px $icon-primary-color,
        -22px -22px 0 -4px $icon-primary-color,
        22px -22px 0 -4px $icon-primary-color,
        22px 22px 0 -4px $icon-primary-color;
    }

    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: $icon-circle-border;
      opacity: 0;
    }
  }

  &:hover .bookmark {
    fill: $icon-hover-color;
  }

  input:checked+.bookmark::after {
    animation: circles $icon-anmt-duration cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation-delay: $icon-anmt-duration;
  }

  input:checked+.bookmark {
    fill: $icon-primary-color;
    animation: bookmark $icon-anmt-duration forwards;
    transition-delay: 0.3s;
  }

  input:checked+.bookmark::before {
    animation: circle $icon-anmt-duration cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation-delay: $icon-anmt-duration;
  }
}

@keyframes bookmark {
  50% {
    transform: scaleY(0.6);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: $icon-circle-size;
    height: $icon-circle-size;
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circles {
  from {
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}