header {
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  z-index: 999;
  width: 100%;
  top: 0;
  position: sticky;
  box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.5)
}

.navbar {
  @include flex(row, space-between, center);
  padding: 15px 60px;

  @include laptop {
    padding: 15px 30px;
  }

  @include mobile {
    @include flex(row, space-between, center);
    padding: 15px 10px;
  }

  .nav__left {
    .logo {
      img {
        width: 300px;
        transform: matrix3d(360deg);

        @include laptop {
          width: 250px;
        }

        @include mobile {
          width: 160px;
        }
      }
    }
  }

  .nav__center {
    @include tablet {
      position: fixed;
      transition: all 0.5s ease-in-out;
      right: 150%;
      height: 100%;
      width: 100%;
      z-index: 998;
      top: 0;
      padding: 5px;
    }

    &>ul {
      @include flex(row, center, center);
      gap: 15px;

      li.link {
        transition: all 0.3s ease-in-out;
        padding: 8px 0;
        position: relative;

        a {
          display: inline-block;
          color: map-get($colors, first);
          @include font($size: 20px);
          transition: all 0.3s ease-in-out;
          white-space: nowrap;
        }

        &:hover {
          a {
            transform: translateY(-4px);
            color: map-get($colors, second);
          }
        }



        &::after {
          content: "";
          width: 0;
          position: absolute;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: map-get($colors, second);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &.active {
          &::after {
            width: 100%;
          }
        }
      }

      li.nav__right:hover::after,
      li.active.nav__right::after {
        display: none;
      }
    }
  }


  .dropdown {
    cursor: pointer;
    position: relative;

    .profile__info {
      @include flex(row, center, center);
      border: 1px solid #2b2a2a;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: #333333;

      .user__name {
        text-transform: capitalize;
        font-size: 25px;
        border-radius: 4px;
        padding: 5px;
        color: #ffffff;
        background-color: #333333;
        text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
      }
    }

    .profile__info i {
      background-color: map-get($colors, second);
      padding: 10px;
      border-radius: 50%;
      color: #fff;
      margin: 0 10px 0 0;
      font-size: 18px;

    }

    .dropdown__items {
      display: none;
      position: absolute;
      top: 58px;
      opacity: 0;
      gap: 10px;
      width: 108px;
      height: max-content;
      background-color: #F5F5F5;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      border-radius: 5px;
      transition: all 0.5s ease;

      &>ul {
        width: 100%;

        li {
          @include flex(row, center, center);
          transition: all .3s ease-in-out;
          padding: 0 5px;

          &:hover {
            background-color: #ccc;
          }



          a {
            padding: 8px 6px;
            @include flex(row, space-between, center);
            height: 100%;
            width: 100%;
            color: #000;

            i {
              font-size: 15px;
            }

            .fa-user {
              color: #5151b9;
            }

            .fa-power-off {
              color: red;
            }

          }
        }
      }

    }


    &.active .dropdown__items {
      opacity: 1;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      left: 0;
      justify-content: center;
    }
  }

  //dfsdfsdfsf
  .dashboard__select.dropdown {}

  .nav__right {
    @include flex(row, center, center);
    gap: 40px;
    .fav__cart{
      @include flex(row, center, center);
      gap: 30px;
    }



    @include tablet {
      margin: 20px 0 0 0;
      @include flex(column, space-between, center);

      gap: 30px;
    }

    .wishlist__icon,
    .shopping__icon {
      position: relative;
    }

    i {
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      font-size: 25px;
      color: #2b2a2a;
    }

    .wishlist__counter,
    .shop__counter {
      text-align: center;
      position: absolute;
      top: -22px;
      left: 100%;
      width: 25px;
      height: 28px;
      background-color: map-get($colors, second);
      border-radius: 50%;
      @include flex(row, center, center);

      .count {
        @include font(20px, 600);
        color: map-get($colors, third);
      }
    }


  }
}

.hamburger {
  position: relative;
  z-index: 999;
  display: none;

  @include tablet() {
    display: inline-block;
  }

  cursor: pointer;

  input {
    display: none;
  }

  svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: map-get($colors, second);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  input:checked+svg {
    transform: rotate(-45deg);
  }

  input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
}

body.activeBurger {
  @include tablet {
    overflow: hidden;

    .nav__center {
      right: 0;
      background: #fff;

      ul {
        background-color: #fff;
        width: 100%;
        height: 100%;
        gap: 5px;
        flex-direction: column;

        li {
          transition: all 0.5s ease-in-out;

          a {
            color: map-get($colors, first);
            width: 100%;
          }
        }
      }
    }
  }
}